<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <style>
        table th, table td, form {
            padding: 10px 5px;
            font-family: sans-serif;
            font-size: 14px;
            border-style: solid;
            border-width: 1px;
            background-color: rgba(255, 255, 240);
        }
        .buttonLogout {
            padding: 5px;
            background-color: rgba(220, 220, 220);
        }
    </style>
</head>
<body>
<h1 th:utext="${user.username}">Имя пользователя</h1>
<table border="1">
    <tr>
        <th th:width="120">ID</th>
        <th th:width="120">Имя</th>
        <th th:width="120">Фамилия</th>
        <th th:width="150">E-mail</th>
    </tr>
    <td th:text="${user.getId()}">ID</td>
    <td th:utext="${user.getUsername}">Имя</a></td>
    <td th:utext="${user.getSurname}">Фамилия</td>
    <td th:utext="${user.getEmail}">E-mail</td>
</table>
<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Выйти</button>
</body>
</html>